.company__container{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 3rem;
}
.company__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}